.wrapper {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  box-sizing: border-box;
  /* overflow: hidden; */
}
/*
    ===========================
            Header Start
    ===========================
*/
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 12px;
  z-index: 10;
}
.flex_menu .logo {
  margin-left: 0px;
}
.logo h1 {
  line-height: 0px;
  width: auto;
}
.logo h1 a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.logo h1 a:hover {
  color: #ff7200;
}
.flex_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul,
.meta_tags ul {
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
}
nav ul li,
.meta_tags ul li {
  list-style-type: none;
  margin-right: 15px;
}
nav ul li a,
.meta_tags ul li a {
  padding: 0px 10px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
nav ul li:hover a {
  color: #ff7200;
}
._btn {
  font-size: 14px;
  padding: 8px 40px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #ff7200;
}
._btn:hover {
  background-color: #b59378;
}
/*
    ===========================
            Header end
    ===========================
*/
/*
    ===========================
            Banner start
    ===========================
*/
.banner {
  float: left;
  width: 100%;
  margin-bottom: 0;
  color: white;
  position: relative;
  /* padding: 100px 0px; */
  margin-bottom: 100px;
}
.banner figure:before {
  position: absolute;
  content: "";
  float: left;
  width: 100%;
  height: 100%;
  background-color: #2c2e30;
  opacity: 0.8;
}
.banner figure img {
  width: 100%;
  /* position: relative; */
}
.banner_content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -120px;
}
.banner .btn_banner {
  padding: 6px 10px;
}
.banner_h4 {
  font-weight: normal;
  font-size: 18px;
}
.banner-h2 {
  font-size: 28px;
}
.text_wrap {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 40%;
  font-size: 14px;
}
.search_widget {
  position: relative;
  /* top: 0;
  left: 0;
  right: 0; */
  margin-bottom: 12px;
  width: 50%;
}
.search_widget input[type="text"] {
  width: 100%;
  padding: 14px 20px;
  border-radius: 4px;
  border: none;
}
.btn-search {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  outline: none;
  padding: 8px 20px;
  text-align: center;
  background-color: #ff7200;
}
.popular_skills {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.pop_list ul {
  display: flex;
  margin: 0;
  padding-left: 0px;
}
.pop_list ul li {
  list-style-type: none;
  padding: 0px 4px;
}
.pop_list ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}
.popular_skills span {
  font-size: 14px;
}
.pop_list ul li:hover a {
  color: #ff7200;
}
/*
    ===========================
            Banner end
    ===========================
*/
/*
    ===========================
            Banner main start
    ===========================
*/
.banner_main {
  width: 100%;
  position: relative;
  float: left;
  /* padding: 100px 0px; */
  margin-bottom: 80px;
  /* display: block; */
}
.banner_main img {
  width: 100%;
  height: 100%;
}
.col_left {
  padding: 0px;
}
.col_right {
  background-color: whitesmoke;
  padding: 0px;
  /* border: 2px solid black; */
  padding: 36px  0px 36px 30px;
}
.col_right p{
  width: 550px;
  
}
.contact{
  display: flex;
  width: 550px;
}
.contact button{
  margin-right: 20px;
  width: 50%;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #ff7200;
}
/*
    ===========================
            Banner main end
    ===========================
*/
/*
    ===========================
      Services Section Start
    ===========================
*/
.services {
  width: 100%;
  /* margin-bottom: 50px; */
  /* box-sizing: border-box; */
  background-color: #f0e8e824;
  padding: 60px 0px;
}
.services h5{
  margin-bottom: 20px;
  }

.box {
  height: 322px;
  width: 270px;
  /* background: rgb(171, 183, 171); */
  border: 1px solid rgb(245, 235, 235);
  border-radius: 4px;
  padding: 0px;
}
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 10px;

}
.box img {
  /* display: block; */
  max-width: 100%;
  height: 50%;
  margin-bottom: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  /* object-fit: fill; */
}
.text_wrap{
  width: 100%;
  /* overflow: visible;
  position: relative;
  padding:0px 10px; */
  display: block;
  padding: 20px 12px;
}
.user_profile #profile_img{
  max-width: 50px;
  max-height: 46px;
  position: absolute;
  /* left: 134px; */
  border-radius: 50%;
  margin-top: -33px;
  margin-left: 8px;
  border: 4px solid white;
  margin-bottom: 0;
}
.text_wrap a{
  text-decoration: none;
}
.text_wrap h6{
  margin-bottom: 0;
}
.text_wrap span{
  margin-right: 12px;
}
.text_wrap p{
  margin-top: 16px;
}
.btn_services{
  margin-left:42%;
  margin-top: 20px;
}
/*
    ===========================
       Services Section end
    ===========================
*/
.sub_banner{
  width: 100%;
  background-color: whitesmoke;
  /* margin-bottom: 100px; */
}
.text_wrapper{
  /* border: 2px solid black; */
  width: 50%;
  margin: auto;
  padding: 50px 12px;
}
.text_wrapper h4{
  text-align: center;
}
.text_wrapper p{
  text-align: center;
  
}
.sub_banner_btns{
  width: 40%;
  margin: auto;
  margin-bottom: 10px;
}
.sub_banner_btns button{
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #ff7200;
}
/*
    ===========================
      Footer Section Start
    ===========================
*/
.footer{
  width: 100%;
  /* margin-bottom: 100px; */
  background-color: #fdfcfc;
  padding: 64px 218px;
  float: left;
}
.footer_cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* border: 2px solid black; */
}
.footer_cards .card{
  height: 220px;
  width: 400px;
  border: none;
  border-radius: 0;
  padding: 4px 20px 0px;
  background-color:  #fdfcfc;
    /* background-color: #f0e5e5b8; */

}
.footer_cards .c1 h2{
  margin-bottom: 1rem;
}
.footer_cards .c1 p{
  margin-bottom: 10px;
  /* text-align: justify; */
}
.footer_cards .c2{
  width: 400px;
  border-left: 1px solid rgb(211, 198, 198);
  border-radius: 0;
}
.footer_cards .c2{
  width: 180px;
}
.card ul {
  padding: 0px;
}
.card ul li{
  list-style-type: none;
}
.card ul li a{
  text-decoration: none;
  color: black;
}
.icons i{
  padding-right:10px;

}

/*
    ===========================
      Footer section End
    ===========================
*/
